<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Crud MySQL</title>
</head>
<body>
<h3>Form Update Colleger</h3>
<form action="/colleger/{{ data.id }}/edit" method="POST">
    <table>
        <tr>
            <td>Identity Number</td>
            <td>:</td>
            <td><input type="text" name="identityNumber" value="{{ data.identity_number }}"></td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>:</td>
            <td><input type="text" name="name" value="{{ data.name }}"></td>
        </tr>
        <tr>
            <td><button type="submit">Update</button></td>
        </tr>
    </table>
</form>
</body>
</html>